.navBar {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: baseline;
    height: 4rem;
    position: static;
}

.sub-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    align-content: center;
}


