.home {
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Typewriter {
    display: contents;
}
.navLink {
    display: flex;
    gap: 2.5rem;
}

.social {
    display: flex;
    gap: 1rem;
}

.social-link {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(19, 20, 20);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.social-link:hover {
    background-color: rgb(24, 87, 87);
    box-shadow: 1px 3px 5px rgba(77, 11, 11, 0.2);
}