@import '../../../colors.scss';


.name, .me {
    font-family: consolas, monospace;
}

.home {
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../../assets/background.jpg);
    color:#fff;
}


.Typewriter {
    display: contents;
    color: $quaternary-color;
}
.navLink {
    display: flex;
    gap: 2.5rem;
}

.social {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

.social-link {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    background-color: $secondary-color;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.social-link:hover {
    transition: all ease-in 0.4s;
    background-color: $quinary-color;
    box-shadow: 1px 3px 5px rgba(77, 11, 11, 0.2);
    color: white;
    
}

.transition-fade {
    transition: .4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}