.stack {
    background-color: #182C61;
    padding: 1rem 2rem 1rem 2rem;
}

.stack-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 1px solid #f3c46e;
    margin: 0 auto;
    width: 21rem;
    padding: 6rem 3rem 3rem 6rem;
}

.techno {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

}

.fa-react {
    color: #61DAFB;
    animation:  2s rotate infinite linear;
}
.fa-html5 {
    color: #E34F26;
}
.fa-css3 {
    color: #1572B6;
}
.fa-js-square {
    color: #F0DB4F;
}
.fa-node-js {
    color: #50C878;
}

.techno-card {
    border: 1px solid #f3c46e;
    height : 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
}

.stack-name {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.specialization  {
    font-size: 16px;
    text-align: center;
}
.img-logo {
    width: 53px
}