@import '../../../colors.scss';

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    height: 54%;
    background-color: $tertiary-color;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    justify-content: center;
    row-gap: 2rem;
}

textarea.input {
    width: 30rem;
    height: 17rem;
    resize: none;
}

.input {
    outline: none;
    border: none;
    border-bottom: 1px solid $quinary-color;
    background-color: transparent;
    width: 16rem;
    height: 2rem;
}

.input:focus {
    transition: all 1s ease-in-out;
    border-bottom: 1px solid $quaternary-color
}