@import "./colors.scss";

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
  font-size: 15px;
}

a:focus {
  color: $quaternary-color;
}

li {
  list-style: none;
}

nav {
  background-color: $primary-color;
}

.navBar {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: baseline;
  height: 4rem;
  position: static;
}
.container {
  background-color: $secondary-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navLink,
 .title-zone,
 .experience-item,
 .education-item,
 .info-contact{
  font-family: consolas, monospace;;
  font-size: 18px;
}
.page-name {
  font-size: 25px;
  font-family: consolas, monospace;;

}

.navBar {
  padding: 0 5%;
}
@media(max-width:768px) {
  .name {
    display: none;
  }

  .navBar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.download {
  background-color: $quaternary-color;
  border-radius: 0.5rem;
  border: 1px solid $primary-color;
  height: 2rem;
  font-weight: 900;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
  cursor: pointer;
}